<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    {{> headerTrue}}
    <h1>Message</h1>
    {{#if send}}
        <span>to {{message.email}}</span><span>{{message.date}}</span>
    {{else}}
        <p>from {{message.email}}</p><span>{{message.date}}</span>
    {{/if}}
    <p>Theme of message: {{message.title}}</p>
    <p>{{message.message}}</p>
    {{message.file}}
    {{> footer}}
</body>
</html>