<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request</title>
</head>
<body>
    {{#if isAuthorized}}
        {{> headerTrue}}
    {{else}}
        {{> headerFalse}}
    {{/if}}
    <h2>{{request.title}}</h2>
    <span>{{request.experience}}</span>
    <p>{{other}}</p>
    <h3>Sallary: {{sallary}}</h3>
    <button>Write us</button> <!-- Here have to be function, which have to redirect on /api/main/newMessage with headers recipient: toUser.email -->
    {{> footer}}
</body>
</html>